body {
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.whatsAppBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: none;
    border: none;
    transition: transform 0.25s ease-in-out;
    z-index: 50;
}

.whatsAppBtn:hover {
    transform: scale(1.1);
}

.whatsAppBtn img {
    max-width: 200px;
    margin-top: 40px;
    z-index: 50;
}

.resopentable {
    position: fixed;
    bottom: 50px;
    left: 50px;
    background: none;
    border: none;
    transition: transform 0.25s ease-in-out;
}

.resopentable:hover {
    transform: scale(1.1);
}

.resopentable img {
    max-width: 200px;
    margin-top: 40px;
    z-index: 49;
}

.instagram {
    background: none;
    border: none;
    transition: transform 0.25s ease-in-out;
}

.instagram:hover {
    transform: scale(1.1);
}

.instagram img {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 40px;
    margin-right: 40px;
    z-index: 48;
}
.face {
    background: none;
    border: none;
    transition: transform 0.25s ease-in-out;
    
}

.face:hover {
    transform: scale(1.1);
}

.face img {
    margin-top: 40px;
   max-width: 200px;
    border-radius: 50%;
    z-index: 47;
}


/* HEADER */ 
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #203525;
    z-index: 51;
}

.menua {
    display: flex;
    justify-content: space-between;
}

.logo {

    background-color: none;
    border: none;
}

.menuul {
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.menuindex{
    display: none;
}

.menuitem {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    line-height: 40px;
    width: max-content;
    text-transform: uppercase;
}
.logo img {
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
.ntoggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/* FONDOS */ 

#fondo13{
    display: flex;
    border-radius: 40%;
    width: 150px;
    right: 50px;
    opacity: 20%;
    position: fixed;
    z-index: 10;
}
#fondo6{
    display: flex;
    border-radius: 40%;
    margin-top: 180px;
    opacity: 20%;
    width: 150px;
    left: 30px;
    position: fixed;
    z-index: 9;
}
#fondo12{
    display: flex;
    border-radius: 40%;
    opacity: 20%;
    bottom: 90px;
    width: 150px;
    right: 30px;
    position: fixed;
    z-index: 8;
}

@media screen and (max-width: 780px) {
    .contenedor{
        margin-top: 100px;
    }
    .whatsAppBtn img {
        max-width: 150px;
    }

    .resopentable img {
        max-width: 150px;
        margin-top: 50px;
    }

    .instagram img {
        max-width: 100px;
        margin-right: 40px;
    }

    .face img {
        max-width: 100px;
    }
    .whatsAppBtn
    {
        background: none;
        border: none;
        transition: transform 0.25s ease-in-out;
        display: contents;
    }
    .resopentable {
        background: none;
        border: none;
        transition: transform 0.25s ease-in-out;
        display: contents;
    }
    .face{
        background: none;
        border: none;
        transition: transform 0.25s ease-in-out;
    }
    .contenedor2
    {
        margin-top: -30px;
        z-index: 46;
    }
    .redestxt
    {
        margin-top: 50px;
    }
    /* HOVER*/
    header {
        display: flex;
        height: 60px;
        background-color: #203525;
        justify-content: center;
    }

    .logo img {
        display: none;
    }

    .ntoggle {
        margin-top: -4px;
        display: block;
    }

    .menuul {
        flex-direction: column;
        margin-right: 20px;
        position: fixed;
        top: 40px;
        width: 100%;
        left: 100%;
        transition: 0.3s;
        background-color: #203525;
        align-items:center;
    }
    .menuindex{
        display:block;
    }

    .ntoggle img {
        align-items: center;
    }

    .menuitem {
        line-height: 40px;
    }

    .menuul_visible {
        left: -35px;
    }
}