body {
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
}
/* HEADER */ 
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #203525;
    text-align: center;
    color: white;
}
/*Pie de pagina para botones*/

.whatsAppBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: none;
    border: none;
    transition: transform 0.25s ease-in-out;
    z-index: 2;
}

.whatsAppBtn:hover {
    transform: scale(1.1);
}

.whatsAppBtn img {
    max-width: 200px;
}

.resopentable {
    position: fixed;
    bottom: 50px;
    left: 50px;
    background: none;
    border: none;
    transition: transform 0.25s ease-in-out;
    z-index: 2;
}

.resopentable:hover {
    transform: scale(1.1);
}

.resopentable img {
    max-width: 200px;
}

/* Imagenes boton de Menu e Inicio*/
.toggle{
    display: none;
}

.botones {
    margin-top: 150px;
}
.menubtn{
    display: flexbox;
    position: fixed;
    left: 42%;
    right: 10%;
    z-index: 50;
}
.menubtn img {
    display: flexbox;
    position: fixed;
    left: 42%;
    right: 10%;
}

.menubtn :hover {
    transform: scale(1.1);
}

.redesbtn img {
    display: flexbox;
    position: fixed;
    top: 40%;
    left: 30%;
    right: 10%;

}

.redesbtn :hover {
    transform: scale(1.1);
}

.facturabtn img {
    display: flexbox;
    position: fixed;
    top: 40%;
    left: 53%;
    right: 10%;
}

.facturabtn :hover {
    transform: scale(1.1);
}

/* background*/

#fondo9{
    display: flex;
    border-radius: 40%;
    width: 200px;
    bottom: 100px;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 50%;
}
#fondo2{
    display: flex;
    width: 200px;
    position: absolute;
    z-index: 9;
}
#fondo4{
    display: flex;
    width: 200px;
    position: absolute;
    right: 0;
    z-index: 8;
}

@media (max-width: 1400px) {
    .whatsAppBtn img {
        max-width: 100px;
    }

    .resopentable img {
        max-width: 100px;
    }
    .botones{
        margin-top: 150px;
    }
    .menubtn img {
        width: 35%;
        margin-left: -11%;
        display:  flexbox;
        z-index: 50;
    }
    .redesbtn img {
        margin-top: 50px;
        width: 30%;
        left: 10%;
        display: inline-flexbox;
        z-index: 49;
    }

    .facturabtn img {
        width: 30%;
        margin-top: 50px;
        margin-left: 4%;
        display: inline-flexbox;
        z-index: 48;
    }
    #fondo9
    {
        z-index: 10;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 50%;
    }
}

@media screen and (max-width: 800px) {
    header{
        height: 98px;
        z-index: 51;
    }
    .whatsAppBtn img {
        max-width: 100px;
    }

    .resopentable img {
        max-width: 100px;
    }
    /* BOTONES */ 
    .botones{
        margin-top: 150;
    }
    .menubtn{
        width: 100px;
        position: relative;
        z-index: 50;
    }
    .redesbtn{
        position: relative;
        z-index: 49;
    }
    .facturabtn{
        position: relative;
        z-index: 48;
    }
    /* FONDO */
    #fondo9
    {
        display: flex;
        bottom: 100px;
        width: 100px;
        z-index: 10;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 50%;
    } 
    #fondo2{
        width: 100px;
        left: 0;
        z-index: 9;
        opacity: 50%;
    }
    #fondo4{
        width: 90px;
        right: 0;
        margin-top: 40px;
        opacity: 50%;
    }
}

